.page {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.navbar-container {
  height: 60px;
  margin-bottom: 20px;
  z-index: 99;
}

.below-nav-container {
  position: absolute;
  margin-top: 55px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex: 1;
}

.next-to-nav-container {
  position: absolute;
  margin-left: 230px;
  width: calc(100vw - 250px);
}

@media only screen and (min-width: 1280px) {
  .next-to-nav-container {
    margin-top: 30px;
  }
}
