.pill {
  max-height: 24px;
  width: fit-content;
  background-color: #002760;
  color: #FFF;
  font-size: medium;
  border-radius: 5px;
  padding-left: 10px;
  padding-right: 10px;
  margin-right: 5px;
  margin-top: 5px;
}
