.home-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.profile-picture-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.profile-picture {
  height: 200px;
  border-radius: 50%;
  border: 2px solid #fff;
  z-index: 2;
}

.home-content {
  position: relative;
  min-width: 70%;
  max-width: 1280px;
  background-color: #fff;
  border-radius: 5px 5px 5px 5px;
  -moz-border-radius: 5px 5px 5px 5px;
  -webkit-border-radius: 5px 5px 5px 5px;
  border: 0px solid #000000;
  font-family: 'Open Sans', sans-serif;
  padding: 40px;
  margin-left: auto;
  margin-right: auto;
  z-index: 1;
}

.skills-header-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.skills-header-container > * {
  display: flex;
  justify-content: center;
  align-content: center;
  font-weight: bold;
  color: #0074d9;
}

.skills-header-container > *:not(:last-child) {
  border-right: 2px solid #fe8a71;
}

@media screen and (max-width: 1000px) {
  .skills-header-container > * {
    font-size: large;
  }
}

@media screen and (max-width: 600px) {
  .skills-header-container > * {
    font-size: medium;
  }

  .home-content {
    min-width: 90%;
  }
}

@media screen and (max-width: 400px) {
  .skills-header-container {
    grid-template-columns: 1fr;
  }

  .skills-header-container > *:not(:last-child) {
    border-right: none;
  }

  .skills-header-container > * {
    font-size: large;
  }
}

.home-text-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  line-height: 1.9;
}
