.footer {
    background-color: #212434;
    color: #fff;
    font-size: 20px;
    height: 75px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    padding: 0 20px;
    border-top: 6px solid #0fb8c6;
}

.footer-social-media-icon {
    height: 35px;
    width: 35px;
    margin-right: 10px;
    color: #999;
}

.footer-social-media-icon:hover {
    color: #eee;
}
