.footer {
    background-color: #7B2A21;
    color: #fff;
    font-size: 20px;
    height: 75px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    padding: 0 20px;
}

.footer-social-media-icon {
    height: 35px;
    width: 35px;
    margin-right: 10px;
    color: #bf6e67;
    transition: color 300ms ease-in-out;
}

.footer-social-media-icon:hover {
    color: #fff;
}

@media only screen and (min-width: 1024px) {
    .footer {
        display: none;
    }
}
